*{
    margin:0;
    padding:0;
}
html{
    font-size:62.5%;
}
.a-with-img a{
    width:26px;
    height:26px;
    display:inline-block;
}
.wx{
    background:url("images/wx.png");
}
.qq{
    background:url("images/qq.png");
}
.wb{
    background:url("images/wb.png");
}
/*div>span{*/
/*color:#29b078;*/
/*}*/

.tel-num{
    color:#29b078;
}

.mynav{
    background-color: #29b078;
}
.headerleft{
    display:inline-block;
    height:50px;
}
.headerleft>img{
    width:100%;height:100%;
}
.navbar{
    border-radius:0;
    margin:0;
    border:none;
}
.navbar-default .navbar-nav>li>a{
    color:#fff;
    height:50px;
    line-height:25px;
}
.navbar-default .navbar-nav>li>a:hover{
    color:#000;
    border-bottom:4px solid #fff;
}

.bot-nav{
    background-color: #29b078;
    color:white;

}
.this-the-last-bottom{
    border-top:1px solid white;
    text-align: center;
}

.bot-nav-inner{
    text-decoration: none;
    color:white;
    height:20px;
    line-height:10px;
    margin:5px;
    margin-left:0;
}
.bot-nav-inner:hover{
    color:white;
}
.has-right-border{
    border-right:1px solid white;
}