*{
    margin:0;
    padding:0;
}
html{
    font-size:62.5%;
}
body{
    background-color: rgb(250,250,250);
}
.img-for-lunbo{
    width:100%;
    /*height:300px;*/
}
.num{
    color:#29b078;
}
.num:before{
    content:url("images/per-small.png");
}
.result-show>div{
    margin:15px;
}
.col-sm-12{
    text-align: center;
    font-size:1.5rem;
    color:darkgrey;
}
@media (min-width: 1200px) {
    .result-show{
        border-left:1px dotted #29b078;
        text-align:left;
    }
}

/*.this-text-left{*/
    /*text-align:left;*/
/*}*/
.ahead-img{
    width:50px;height:50px;
}
.this-flex-to-three-parls{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:15px 0;
}
.after-img{
    width:20px;height:20px;
}
h2{
    text-align: center;
    font-weight: bold;
    margin:2vw auto;
}
h3{
    color:black;
    font-size:2.25rem;
    font-weight: bold;
}
.dots{
    display:flex;
    justify-content: center;
    margin:1vw 0;
}
.dots>div{
    width:10px;height:10px;
    border-radius: 50%;
    border:1px solid darkgrey;
    margin:.5vw;
}
.dots-1{
    background-color:#29b078 ;
}
.this-for-showing-coops{
    /*background:url("images/ali.png") center center no-repeat;*/
    /*background-size:100%;*/
    display:inline-block;
    margin:8px;
    /*border:1px solid red;*/
}
.this-for-showing-coops:hover{
    box-shadow: 0 0 10px #888888;
}
.sleeping-li{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.sleeping-li>li>a{
    text-decoration: none;
    color:grey;
}
.sleeping-li>li{
    height:20px;
    line-height:10px;
}
.sleeping-li>li>a:hover{
    border-bottom:2px solid #29b078;
    color:#29b078!important;
}

.friendship-link{
    background-color: white;
}
