*{
    margin:0;
    padding:0;
}
body{
    background-color: rgb(250,250,250);
    /*background-color: red;*/
}
.main-part{
    padding-bottom:5vw;
}
.col-sm-3>div,.col-sm-9>div{
    /*background-color:red;*/
    background-color: white;
}


.list-left{

    display:flex;
    flex-direction: column;
    align-items: center;
}
.list-left>span{
    width:100%;
    border-top:1px solid darkgrey;
    height:3vw;
}
dd{
    margin:0 0 2vw 0;
}

/*dl{*/
    /*text-align: left;*/
    /*margin-left:50%;*/
    /*transform: translateX(-50%);*/
/*}*/
/*dd{*/
    /*margin:20px 0;*/
    /*!*display:inline-block;*!*/
/*}*/
dd>a{
    color:#29b078;
    text-decoration: none;
}
dd>a:hover{
    color:orange;
}
dd>span{
    display:inline-block;
    border-radius: 50%;
    width:10px;height:10px;
    border:1px solid green;
    margin-right:10px;
}
.selected{
    color:orange;
}
.active{
    background-color: orange;
}

.img-for-show>img{
    width:100%;
}
.tips-for-pages{
    margin:20px auto;
}
.tips-for-pages>a{
    text-decoration: none;
    color:black;
}
.selected-a{
    color:#29b078!important;
}
.flex-2-parts{
    display:flex;
    align-items:center;
    color:darkgrey;
}
p{
    text-indent:2em;
    margin:1vw;
    margin-bottom:3vw;
    color:darkgrey;
}

.coop-title>div{
    /*position:absolute;*/
    /*top:50%;left:50%;*/
    /*transform: translateX(-50%) translateY(-50%);*/
    font-size:2rem;
    font-weight:bold;
    padding:1vw 0;
    /*border-bottom:1px solid darkgrey;*/
}